.wrapper{
	width: 50%;
	
	margin: 20px auto;
	border: 1px solid transparent;
	font-size: 20px;
	box-shadow: inset 2px 2px 2px 2px #888888;
	border-radius: 10px;
}
.details{
	margin-left: 10px;
}
h2{
	text-align:;
	margin: 0px;
	 }
	 p{
	 	margin: 0px;
	 }
.signup{
       margin: 0px auto;
      /* border: 1px solid red;*/

	 }
	 .info{
	 /*	border: 1px solid red;*/
	 	height: 30px;
	 	border-radius: 10px;
	 	font-size: 15px;
	 	margin-left: 10px;
	 	width: 32%;
	 }
	 .mobile{
	 	width: 73%;
	 }
	 .password{
	 	width: 80%;
	 }
	
	 .date_dt{
	 	width: 30%;
	 }
	 
	 select{
	 	width: 30%;
	 	height: 30px;
	 	border-radius: 10px;
	 	font-size: 15px;
	 	margin: 0px;
	 }
	 .gen{
	 	width: 19%;
	 

	 }
	 .gen1{
	 	border: 1px solid black;
	 	border-radius: 10px ;
	 	margin: 2px;
	 	align-content: center;
	 	padding: 5px;
	 	
	 
	 }
	 .con{
	 	font-size: 10px;
	 }
	button{
		text-align: center;
		background-color: #00a400;
		width: 170px;
		font-size: 20px;
		color: white;
		height: 50px;
		border-radius: 10px;


	}
	.butt{
		
		text-align: center;
		box-shadow: none;
	}
	.table{
		width: 60%;
		margin: 0px auto;
		border-collapse: collapse;
	}
	.table caption{
		font-size: 20px;
		font-weight: bold
	}
	.table thead{
		font-size: 20px;
	}
	td{
		text-align: center;
	}

	td:hover{
		background-color: :yellow;
	}
fieldset legend {
	text-align: center;
	font-size: 20px;
	color: #00a400;
	font-weight: bold;
}


.ull{
	font-size: 20px;
	background-color: green;
	border: 1px solid red;
	width: 50%;
	margin: 0px auto;
}